* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #1E194D;
}

.form-area {
  background-color: #fff;
  padding: 10px 0;
}

form {
  width: fit-content;
  margin: 0 auto;
}

#username {
  border: 1px solid #000;
  height: 2.5rem;
  padding: 0 10px;
  width: 20rem;
  outline: none;
}

#submit {
  background-color: #1E194D;
  color: #fff;
  height: 2.5rem;
  border: 1px solid #1E194D;
  width: 10rem;
  cursor: pointer;
  margin-left: -4px;
}

#user {
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  margin-top: 3rem;
}

#user img {
  width: 15rem;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 10px;
  font-size: 18px;
  justify-content: center;
}

.column1,
.column2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column1 .detail,
.column2 .detail {
  background-color: #5D48E8;
  width: 20rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.detail a {
  color: #0000ff;
}

.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.instruction,
.error {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #ff0000;
}

@media screen and (max-width: 550px) {
  form {
      width: 100%;
      padding: 0 10px;
      margin: 0;
  }

  #username {
      width: 100%;
  }

  #submit {
      width: 100%;
      margin: 0;
  }
}